/* If any variable needs to be over ridden then declare here */
/*****VARIABLES*****/
/*****BREAK POINTS*****/
/*****GRID*****/
/*****COLORS*****/
/*****END OF VARIABLES*****/
@import url("https:/fonts.googleapis.com/css?family=Montserrat:500,700,800,900");
*, *::before, *::after { box-sizing: border-box; }

*::before, *::after { clear: both; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

html { font-size: 8.22px; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote::before, blockquote::after, q::before, q::after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

input { outline: none; border: none; }

a { text-decoration: none; }

/*****GRID*****/
.flex-direction-row { flex-direction: row; }

.flex-direction-row-reverse { flex-direction: row-reverse; }

.flex-direction-column { flex-direction: column; }

.flex-direction-column-reverse { flex-direction: column-reverse; }

.horizontal-align--flex-start { justify-content: flex-start; }

.horizontal-align--flex-end { justify-content: flex-end; }

.horizontal-align--center { justify-content: center; }

.horizontal-align--space-between { justify-content: space-between; }

.horizontal-align--space-around { justify-content: space-around; }

.horizontal-align--space-evenly { justify-content: space-evenly; }

.vertical-align--flex-start { align-items: flex-start; }

.vertical-align--flex-end { align-items: flex-end; }

.vertical-align--center { align-items: center; }

.vertical-align--baseline { align-items: baseline; }

.vertical-align--stretch { align-items: stretch; }

@media only screen and (min-width: 768px) { .col-sm-1 { width: 1200%; }
  .col-sm-2 { width: 600%; }
  .col-sm-3 { width: 400%; }
  .col-sm-4 { width: 300%; }
  .col-sm-5 { width: 240%; }
  .col-sm-6 { width: 200%; }
  .col-sm-7 { width: 171.4285714286%; }
  .col-sm-8 { width: 150%; }
  .col-sm-9 { width: 133.3333333333%; }
  .col-sm-10 { width: 120%; }
  .col-sm-11 { width: 109.0909090909%; }
  .col-sm-12 { width: 100%; } }
@media only screen and (min-width: 992px) { .col-md-1 { width: 1200%; }
  .col-md-2 { width: 600%; }
  .col-md-3 { width: 400%; }
  .col-md-4 { width: 300%; }
  .col-md-5 { width: 240%; }
  .col-md-6 { width: 200%; }
  .col-md-7 { width: 171.4285714286%; }
  .col-md-8 { width: 150%; }
  .col-md-9 { width: 133.3333333333%; }
  .col-md-10 { width: 120%; }
  .col-md-11 { width: 109.0909090909%; }
  .col-md-12 { width: 100%; } }
@media only screen and (min-width: 1200px) { .col-lg-1 { width: 1200%; }
  .col-lg-2 { width: 600%; }
  .col-lg-3 { width: 400%; }
  .col-lg-4 { width: 300%; }
  .col-lg-5 { width: 240%; }
  .col-lg-6 { width: 200%; }
  .col-lg-7 { width: 171.4285714286%; }
  .col-lg-8 { width: 150%; }
  .col-lg-9 { width: 133.3333333333%; }
  .col-lg-10 { width: 120%; }
  .col-lg-11 { width: 109.0909090909%; }
  .col-lg-12 { width: 100%; } }
@media only screen and (min-width: 1500px) { .col-xl-1 { width: 1200%; }
  .col-xl-2 { width: 600%; }
  .col-xl-3 { width: 400%; }
  .col-xl-4 { width: 300%; }
  .col-xl-5 { width: 240%; }
  .col-xl-6 { width: 200%; }
  .col-xl-7 { width: 171.4285714286%; }
  .col-xl-8 { width: 150%; }
  .col-xl-9 { width: 133.3333333333%; }
  .col-xl-10 { width: 120%; }
  .col-xl-11 { width: 109.0909090909%; }
  .col-xl-12 { width: 100%; } }
.display--block { display: block; }

.display--inline-block { display: inline-block; }

.display--inline { display: inline; }

.display--flex { display: flex; }

.display--none { display: none; }

.position--absolute { position: absolute; }

.position--relative { position: relative; }

.position--fixed { position: fixed; }

.wrapper--full-screen { position: fixed !important; width: 100vw; height: 100vh; top: 0; left: 0; bottom: 0; right: 0; }

.element--full-widht { width: 100%; }

h2 { font-size: 1.7064rem; letter-spacing: 1px; }

h3 { font-size: 1.562rem; letter-spacing: 1px; }

h1 { font-size: 3.666rem; letter-spacing: 0.17064rem; }

.h1--small { font-size: 3.0549999999999997rem; letter-spacing: 2px; }

.h1--smaller { font-size: 2.033rem; }

.h2--large { font-size: 1.833rem; }

.h3--small { font-size: 1.3298rem; }

@font-face { font-family: Gilroy-Black; src: url("fonts/Gilroy-Black.ttf") format("truetype"); }
@font-face { font-family: Gilroy-BlackItalic; src: url("fonts/Gilroy-BlackItalic.ttf") format("truetype"); }
@font-face { font-family: Gilroy-Bold; src: url("fonts/Gilroy-Bold.ttf") format("truetype"); }
@font-face { font-family: Gilroy-BoldItalic; src: url("fonts/Gilroy-BoldItalic.ttf") format("truetype"); }
@font-face { font-family: Gilroy-ExtraBold; src: url("fonts/Gilroy-ExtraBold.ttf") format("truetype"); }
@font-face { font-family: Gilroy-ExtraBoldItalic; src: url("fonts/Gilroy-ExtraBoldItalic.ttf") format("truetype"); }
@font-face { font-family: Gilory-Heavy; src: url("fonts/Gilroy-Heavy.ttf") format("truetype"); }
@font-face { font-family: Gilroy-Light; src: url("fonts/Gilroy-Light.otf") format("truetype"); }
html { font-size: 8.22px; }

@media only screen and (min-width: 768px) { html { font-size: 0.732vw; } }
@media only screen and (min-width: 1500px) { html { font-size: 14.06px; } }
.background--primary { background-color: #fddb5e; }

.link--active { background-color: #fddb5e; font-family: 'Gilroy-Bold' !important; }

nav { height: 7.51rem; margin: 0px; position: fixed; z-index: 999; }

.nav__head { width: 29.11rem; }

.nav__logo { width: 12.05rem; height: 3.083rem; }

.nav__element { width: 16.218rem; font-family: Gilroy-Light; }
.nav__element h3 { font-size: 1.2rem !important; }

.nav__element:hover { background-color: #fddb5e; }

.nav__element:link { text-decoration: none; color: black; background-color: white; }

.nav__element:visited { text-decoration: none; color: black; }

footer { z-index: 999; bottom: 0; right: 0; width: 23.676299999999998rem; height: 5.4747rem; }

.footer__head { font-family: 'Montserrat', sans-serif; font-weight: 900; flex-grow: 2; }
.footer__head:active, .footer__head:visited, .footer__head:link { text-decoration: none; color: black; }

.footer__head h3 { text-align: center; }

.footer__link, .footer__link:visited, .footer__link:link { flex-grow: 1; color: black; }

.wrapper--notices { padding-top: 7.51rem; position:absolute; left: 5rem;}

.notices__element { width: 107.21879999999999rem; margin-top: 5.414599999999999rem; }

.mobile-notices__element { width: 55.21879999999999rem; margin-top: 5.414599999999999rem; }
.mobile-wrapper--notices { padding-top: 7.51rem; position:absolute; left: 1.3rem;}

.notices__element--head { margin-top: 6.11rem; font-family: 'Montserrat', sans-serif; }

.notice--number { flex-basis: 8.688rem; color: #fddb5e; font-family: 'Gilroy-Light'; }

.number__text { width: 72%; border-right: 1px solid #fddb5e; }
.mobile-number__text { width: 105%; border-right: 1px solid #fddb5e; }

.notice--content { flex-basis: 86.842rem; font-family: 'Gilroy-Light'; color: #585858; border-bottom: 1px solid #dcdcdc; font-size: 1.8rem; line-height: 2.4rem; }

.content__text { margin-bottom: 2.1rem; position: relative; max-height: 4.8rem; overflow-y: hidden; padding-top: 0.2rem; transition: max-height 0.2s ease; }
.mobile-content__text { margin-bottom: 2.1rem; margin-left: 2rem; margin-right: 1rem; position: relative; max-height: 4.8rem; overflow-y: hidden; padding-top: 0.2rem; transition: max-height 0.2s ease; }

.height--auto { max-height: 100%; }

.ellipsis { z-index: 99; background-color: white; margin-left: 1rem; position: absolute; bottom: 0; right: 2rem; }

.content__link { color: #fddb5e; margin-bottom: 2rem; cursor: pointer; font-size: 1.8rem; line-height: 2.4rem; }
.content__link i { font-size: 1.8rem; }

.content__link a:link, .content__link a:active, .content__link a:visited { text-decoration: none; color: #fddb5e; }

.notice--date { flex-basis: 11.688rem; color: #fddb5e; font-family: 'Gilroy-Light'; }

.wrapper--groups { padding-top: 7.51rem; }
.mobile-wrapper--groups { padding-top: 7.51rem; position: absolute; left:2.5rem;}


.groups__head { width: 107.21879999999999rem; margin-top: 6.126rem; font-family: 'Montserrat', sans-serif; }

.groups__description { font-family: 'Gilroy-Light'; color: #585858; margin: 5.466rem 0; font-size: 1.8333rem; line-height: 2.522rem; }

.group__switcher { width: 107.21879999999999rem; margin-bottom: 5.1192rem; }

.group__type--departmental { font-family: 'Montserrat', sans-serif; margin-right: 3.2705rem; cursor: pointer; color: rgba(44, 44, 44, 0.57); }

.group__type--council { font-family: 'Montserrat', sans-serif; margin-right: 3.2705rem; cursor: pointer; color: rgba(44, 44, 44, 0.57); }

.group__type--active { color: black; }

.group-cards { width: 107.21879999999999rem; margin-bottom: 4.4082rem; }

.wrapper--group-cards { position: relative; width: 107.21879999999999rem; }

.groups--departmental { position: absolute; top: 0; }

.groups--council { position: absolute; top: 0; }

.group-card { height: 34.4124rem; width: 22.894199999999998rem; position: relative; overflow: hidden; margin-right: 5rem; }
.group-card:hover .group-card-hover { opacity: 1; }
.group-card:hover .group-card__img { filter: blur(1px); transform: scale(1.1, 1.1); }
.group-card:hover .group-card__name { opacity: 0; }
.group-card:last-child { margin-right: 0; }

.group-card__img-div { position: absolute; top: 0; height: 34.4124rem; z-index: -1; }
.group-card__img-div img { height: 100%; max-width: 120%; margin-left: -17%; transition: transform 0.2s ease; }

.group-card__name { position: absolute; bottom: 2.0619rem; right: 0; font-family: 'Gilroy-Bold'; background-color: #fddb5e; padding-top: 3rem; padding-bottom: 3rem; padding-right: 1.8rem; padding-left: 1.8rem; height: 5.4747rem; opacity: 1; line-height: 2.2rem; transition: opacity 0.2s ease; }
.group-card__name h2 { text-align: right; }

.group-card-hover { position: relative; top: 0; left: 0; display: flex; background-color: rgba(0, 0, 0, 0.6); height: 100%; width: 100%; font-family: 'Gilroy-Bold'; color: white; opacity: 0; transition: opacity 0.2s ease; z-index: 1; }

.scroll-down { position: fixed; bottom: 0; color: white; background-color: black; width: 27.9423rem; right: 40%; font-size: 1.7064rem; height: 5.4035rem; z-index: 1; transition: bottom 1s ease; cursor: pointer; }
.scroll-down div { width: 23.10749rem; font-family: 'Gilroy-Light'; }
.scroll-down .arrow-dw { font-size: 2.2rem; flex: 1; font-weight: 500; background: #fddb5e; color: black; }

.hidden-arrow { bottom: -6rem; }

.wrapper--achievements { margin-left: 14.5755rem; padding-top: 7.51rem; position: relative; }
.mobile-wrapper--achievements { margin-left: 2rem; padding-top: 7.51rem; position: relative; }


.all-awards { position: absolute; }

.display--none { display: none; }

.award__info { font-size: 1.8rem; line-height: 2.4rem; border-bottom: 1px solid #dcdcdc; width: 92.7144rem; padding: 2.844rem 0; }
.award__info p { display: inline-block; font-family: 'Gilroy-Light'; margin-left: 1.99rem; }
.award__info i { line-height: 2.4rem; color: #fddb5e; }

.all-achievements { position: absolute; }

.achievements__head { width: 92.7144rem; padding-top: 7.60769rem; padding-bottom: 3.5rem; font-family: Gilroy-Light; color: rgba(0, 0, 0, 0.5); font-size: 2rem; }

.achievements__head--awards { margin-left: 3.1284rem; cursor: pointer; }

.achievements__head--recent { cursor: pointer; }

.achievements__head--active { font-weight: 900; color: black; }

.achievement__card { padding: 2.8rem 0; margin-bottom: 6.68340rem; }

.achievement__info { width: 58.5863rem; margin-left: 2.41739rem; }

.achievement__image img { width: 29.2221rem; height: 17.9172rem; }

.achievement__head { font-family: Gilroy-Light; font-weight: 900; }

.achievement__content { line-height: 2.4rem; font-family: Gilroy-Light; color: rgba(0, 0, 0, 0.77); margin-top: 2.844rem; border-left: 3px solid #fddb5e; padding-left: 1.8486rem; font-size: 1.8rem; }

.project__content, a.project__link { padding-top: 0.8486rem; padding-left: 1.9197rem; }

.wrapper--projects { padding-top: 7.51rem; }
.mobile-wrapper--projects { padding-top: 7.51rem; padding-left: 50rem; }

.projects__head { width: 93.1409rem; font-family: 'Gilroy-Light'; color: rgba(0, 0, 0, 0.7); padding: 6.9677rem 0; line-height: 2.844rem; }
.mobile-projects__head { width: 50.1409rem; font-family: 'Gilroy-Light'; color: rgba(0, 0, 0, 0.7); padding: 6.9677rem ; line-height: 2.844rem; position: absolute; left:-2rem;}

.wrapper--project__card { width: 93.1409rem; margin-top:10rem; margin-bottom: 8.0342rem; }

.project__card { flex: 1; }
.mobile-project__card { flex: 1; position: absolute; top: 25rem; }

.project__head { font-family: 'Gilroy-Bold'; border-left: 2px solid #fddb5e; padding-left: 1.9197rem; }

.project__content { font-family: 'Gilroy-Light'; color: rgba(0, 0, 0, 0.7); font-size: 1.7rem; line-height: 2.844rem; border-left: 2px solid #fddb5e; }

.wrapper--projects__link { position: relative; }
.wrapper--projects__link:hover .project__link--border { height: 100%; }
.wrapper--projects__link:hover a.project__link { color: #585858; }

a.project__link { transition: color 0.5s ease; }
a.project__link:link, a.project__link:visited { font-family: 'Montserrat', sans-serif; font-weight: 500; color: #fddb5e; }

.project__link--border { transition: height 0.5s ease; border-left: 2px solid #fddb5e; position: absolute; width: 100%; height: 0; z-index: -1; }

.wrapper--home { width: 100%; height: 100%; padding-top: 7.51rem; }

.notices-list { background-color: #1e1e1e; height: 100%; flex-grow: 1; width: 50%; position: fixed; z-index: 1; transition: 0.5s ease; }

.h-notice { width: 41.8779rem; transition: 0.5s ease; }

.h-notice__number { font-size: 4.9059rem; font-family: 'Gilroy-Bold'; color: #fddb5e; letter-spacing: 3px; width: 16rem; }
.h-notice__number div { width: 100%; border-right: 1px solid #fddb5e; }

.h-notice__content { color: white; font-family: 'Gilroy-Light'; line-height: 2.644rem; letter-spacing: 1px; padding-left: 3.1284rem; }

.h-notice__date { color: #fddb5e; font-family: Gilroy-Light; margin-top: 1.7rem; }

.h-notice__all { text-align: center; width: 41.8779rem; height: 13rem; transition: 0.5s ease; }
.h-notice__all a:link, .h-notice__all a:visited { color: white; font-family: Gilroy-Bold; }

.arrow--right { width: 4.9769rem; height: 4.9769rem; background-color: #fddb5e; position: absolute; right: 0; bottom: 22.2496rem; font-size: 2.5rem; color: #1e1e1e; }
.arrow--right i { transition: 0.5s ease; }

.main-bg { background-image: url("main.png"); background-position: center; background-repeat: no-repeat; background-size: cover; height: 100%; width: 100%; position: fixed; filter: brightness(85%); transition: 0.5s ease; }

.main-bg--blur { filter: blur(2.5px) brightness(85%); }

.notices-list--main { transform: translateX(-59%); }

.h-notice--main { margin-right: 30rem; }

.h-notice__all--main { margin-right: 30rem; }

.arrow--left { transform: rotate(-180deg); }

.h-head { position: absolute; bottom: 27em; left: 14.64rem; z-index: 1; color: white; transition: transform 0.5s ease; }

.h-head-main { font-family: 'Montserrat', sans-serif; font-size: 5rem; font-weight: 800; }

.h-head-content { margin-top: 2.133rem; font-family: 'Gilroy-Light'; }

.mobile-h-head { position: absolute; bottom: 15rem; left: 8.64rem; z-index: 1; color: white; transition: transform 0.5s ease; }

.mobile-h-head-main { font-family: 'Montserrat', sans-serif; font-size: 3.2rem; font-weight: 550; }

.mobile-h-head-content { margin-top: 37rem; font-family: 'Gilroy-Light'; }

.h-head--disappear { transform: translateX(230%); }

.wrapper--equipment { padding-top: 7.51rem; padding-bottom: 7.51rem; }
.mobile-wrapper--equipment { padding-top: 7.51rem; padding-bottom: 7.51rem; position: absolute; left: 2.2rem; }

.equipments__head { width: 107.21879999999999rem; margin-top: 6.176rem; }

.equipments__head--main { font-family: 'Montserrat', sans-serif; font-weight: 700; }

.equipments__head--description { font-family: 'Gilroy-Light'; line-height: 3.4128rem; letter-spacing: 1.2px; margin-top: 2.844rem; color: #585858; }

.equipments__row { width: 107.21879999999999rem; margin-top: 13.499rem; }
.mobile-equipments__row { width: 107.21879999999999rem; margin-top: 3.499rem; }

.equipment:last-child { margin-right: 0; }

.equipment { width: 25rem; margin-right: 15rem; }
.mobile-equipment { width: 10rem;  margin-right: 10rem;   }

.equipment__head { font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: 2.5rem; margin-bottom: 3.554rem; }

.equipment__list--item { color: #585858; font-family: 'Gilroy-Light'; margin-bottom: 2.133rem; }
.equipment__list--item > i { color: #fddb5e; margin-right: 1.493rem; line-height: 2.3rem; }
.equipment__list--item > span { line-height: 2.3rem; }

.front__paginate, .front__head, .front__content, .front__contact, .op-front__paginate, .op-front__head, .op-front__content, .op-front__know-more { width: 53.98789rem; }

.wrapper--group {  background-color: white; }
.mobile-wrapper--group { position: absolute; left:2.5rem; background-color: white; }

.g-group { position: absolute; width: 100%; background-color: white; z-index: -100; opacity: 0; transition: opacity 0.1s ease; }

.visible { z-index: 1; opacity: 1; }

.invisible { z-index: -100; opacity: 0; display: none; }

.group-front { width: 100%; height: 100vh; padding-top: 7.51rem; }

.front__left-leaf { width: 50%; flex: 1; }

.group__info { position: absolute; top: 11rem; margin-left: 2.85rem; }
.mobile-group__info { position: absolute; top: 11rem;}

.front__paginate { color: #fddb5e; font-family: 'Gilroy-Light'; }
.front__paginate h2 { letter-spacing: 1px; }
.front__paginate h2 a { text-decoration: none; color: #fddb5e; }

.front__head { margin-top: 2.84rem; }
.front__head h1 { line-height: 4.6rem; font-family: 'Montserrat', sans-serif; font-weight: 900; }
.front__head .front__sub-head { line-height: 2rem; color: #fddb5e; font-family: 'Gilroy-Light'; letter-spacing: 1px; margin-top: 1.4rem; }

.front__content { font-family: 'Gilroy-Light'; font-size: 1.4rem; color: #585858; letter-spacing: 1px; line-height: 2.844rem; margin-top: 2.5105rem; width: 53rem !important; }
.mobile-front__content { font-family: 'Gilroy-Light'; font-size: 1.4rem; color: #585858; letter-spacing: 1px; line-height: 2.844rem; margin-top: 2.5105rem; width: 35rem !important; }

.front__contact { margin-top: 2.5rem; }

.front__contact--name { font-family: 'Montserrat', san-serif; letter-spacing: 1.2px; font-weight: 500; }

.front__contact--info { font-family: 'Montserrat', san-serif; color: #585858; font-size: 1.5rem; margin-top: 1.4rem; }

.front__contact--links { font-size: 2.7rem; margin-top: 3.7rem; }
.front__contact--links a { text-decoration: none; color: black; }
.front__contact--links i { margin-right: 3.91rem; }

.front__image { width: 56.4534rem; overflow: hidden; }
.front__image img { margin-left: -15%; height: 99.8vh; max-width: 115%}
.mobile-front__image { width: 56.4534rem; overflow: hidden; }
.mobile-front__image img { margin-left: -15%; padding-top:10rem;  height: 65.8vh; max-width: 115%}

.g-project-head { padding: 7.1099rem 0; font-size: 3.412rem; font-family: 'Montserrat', sans-serif; font-weight: 900; width: 105.296rem; letter-spacing: 1.8px; }
.mobile-g-project-head { padding: 4.1099rem 0; font-size: 3.412rem; font-family: 'Montserrat', sans-serif; font-weight: 900; width: 105.296rem; letter-spacing: 1.8px; }

.g-project-row { width: 105.296rem; margin-bottom: 7.5366rem; }

.g-project-row:last-child { margin: 0; }

.g-card__image { flex: 1; }
.g-card__image img { width: 22.041rem; }

.g-card__data { flex: 2; width: 25.197rem; margin-left: 2.2752rem; }

.g-card__head { font-family: 'Gilroy-Bold'; letter-spacing: 1px; line-height: 2.2rem; margin-bottom: 0.7rem; }

.g-card__content { color: #585858; font-family: 'Gilroy-Light'; letter-spacing: 0.8px; line-height: 2.1041rem; }

.g-card__link a { text-decoration: none; font-family: 'Montserrat', sans-serif; font-weight: 600; color: #fddb5e; }

.g-equipment-head { font-size: 3.412rem; font-family: 'Montserrat', sans-serif; font-weight: 900; width: 105.296rem; margin-top: 4.266rem; letter-spacing: 1.8px; }

.g-equipment__list { width: 105.296rem; margin-top: 2.48849rem; }

.g-equipment__item { font-size: 1.5rem; }

.g-recruitments-head { font-size: 3.412rem; font-family: 'Montserrat', sans-serif; font-weight: 900; width: 105.296rem; margin-top: 8.566rem; letter-spacing: 1.8px; }

.g-recruitments-content { width: 105.296rem; font-family: 'Gilroy-Light'; font-size: 1.7rem; line-height: 2.844rem; color: #585858; margin-top: 3.1994rem; }

.g-recruitments-link { width: 105.296rem; margin-top: 5.3325rem; margin-bottom: 10rem; }
.g-recruitments-link a { text-decoration: none; color: #fddb5e; text-decoration: none; font-family: 'Montserrat', sans-serif; font-weight: 600; font-size: 2.55rem; }

.wrapper--about { padding-top: 7.51rem; }
.mobile-wrapper--about {  position: absolute; left:5rem;  padding-top: 7.51rem; }

.about__row { width: 107.21879999999999rem; margin-top: 5.414599999999999rem; }

.about__head { margin-top: 6.11rem; font-family: 'Montserrat', sans-serif; }

.about__head--description { font-family: 'Gilroy-Light'; line-height: 3.4128rem; letter-spacing: 1.2px; margin-top: 4.9769rem; color: #585858; }

.about-card { width: 50%; }

.about-card__image { overflow: hidden; border-radius: 50%; }
.about-card__image img { width: 14.219rem; height: 14.219rem; }

.about-card--data { margin-left: 2.5596rem; }

.about-card__head { font-size: 1.990rem; font-family: 'Gilroy-Bold'; }

.about-card__description { color: #585858; font-size: 1.990rem; font-family: 'Gilroy-Light'; }

.calendar__left-nav { width: 27.9423rem; position: fixed; height: 100%; padding-top: 14.042rem; }
.mobile-calendar__left-nav { position: fixed; height: 100%; padding-top: 14.042rem; }

.left-nav__list { width: 64%; height: 21.8rem; overflow-y: hidden; }

.c-left-nav__month { font-family: 'Montserrat', sans-serif; font-size: 2.5596rem; font-weight: 800; text-align: center; padding: 2.4861999rem 0; color: rgba(0, 0, 0, 0.55); transition: transform 0.5s, color 0.5s cubic-bezier(0, 0.96, 0.32, 1.11); cursor: pointer; }

.c-left-nav__month--active { color: black; }

.calendar--up, .calendar--down { cursor: pointer; font-family: 'Montserrat', sans-serif; font-size: 2.5596rem; font-weight: 900; text-align: center; width: 65%; color: black; }

.arrow--inactive { color: rgba(0, 0, 0, 0.55); }

.wrapper--calendar { padding-top: 7.51rem; width: 100%; }
.mobile-wrapper--calendar { padding-top: 7.51rem; width: 100%; position: absolute; left: -15rem; }

.month { margin-left: 27.9423rem; }

.date__row { margin-top: 5.532rem; margin-left: 5rem; width: 80%; }
.mobile-date__row { margin-top: 5.532rem; margin-left: 5rem; width: 320%; }
.date__row:last-child { border-bottom: 1px solid rgba(0, 0, 0, 0.45); padding-bottom: 3rem; }
.date__row:first-child { padding-top: 1rem; }

.date { flex: 1; max-width: 44%; }
.date:first-child { margin-right: 9rem; }

.date__head { font-size: 7.10999rem; color: #fddb5e; font-family: 'Gilroy-Bold'; position: relative; margin-bottom: 4.266rem; }
.mobile-date__head { font-size: 4.10999rem; color: #fddb5e; font-family: 'Gilroy-Bold'; position: relative; margin-bottom: 4.266rem; }

.date__head--underline { border-bottom: 5px solid #fddb5e; width: 20%; height: 100%; position: absolute; z-index: 1; }

.month__event { position: relative; margin-bottom: 2.133rem; color: rgba(0, 0, 0, 0.9); font-size: 2.033rem; height: 2.1rem; overflow-y: hidden; }

.event__data { color: rgba(0, 0, 0, 0.9); font-size: 2.033rem; margin-bottom: 2.133rem; font-family: 'Gilroy-Light'; }
.event__data i { flex: 1; color: rgba(0, 0, 0, 0.9); font-size: 2.033rem; }

.c-read__more { position: absolute; bottom: 0; right: 0; cursor: pointer; }
.c-read__more i { color: #fddb5e; }

.height--auto { height: auto; }

.event__text, .event__time, .event__location { flex: 10; }

.front__paginate, .front__head, .front__content, .front__contact, .op-front__paginate, .op-front__head, .op-front__content, .op-front__know-more { width: 48.98789rem; }

.open-project { width: 100%; height: 100%; }

.op-front__left { flex: 1; width: 50%;}

.op-project__info { position: absolute; top: 11rem; margin-left: 2.85rem; width: 45%; }
.mobile-op-project__info { position: absolute; top: 10rem; margin-left: 13.85rem; width: 45%; }

.op-front__paginate { color: #fddb5e; font-family: 'Gilroy-Light'; }
.op-front__paginate h2 { letter-spacing: 1px; }
.op-front__paginate h2 a { text-decoration: none; color: #fddb5e; }

.op-front__head { margin-top: 2.84rem; }
.op-front__head h1 { line-height: 4.6rem; font-family: 'Montserrat', sans-serif; font-weight: 900; }
.op-front__head .op-front__sub-head { line-height: 2rem; color: #fddb5e; font-family: 'Gilroy-Light'; letter-spacing: 1px; margin-top: 1.4rem; }

.op-front__content { font-family: 'Gilroy-Light'; font-size: 1.4rem; color: #585858; letter-spacing: 1px; line-height: 2.844rem; margin-top: 2.5105rem; width: 53rem !important; }
.mobile-op-front__content { font-family: 'Gilroy-Light'; font-size: 1.4rem; color: #585858; letter-spacing: 1px; line-height: 2.844rem; margin-top: 2.5105rem; width: 40rem !important; }

.op-front__know-more { font-family: 'Montserrat', sans-serif; margin-top: 2.5rem; }
.op-front__know-more a { color: black; text-decoration: none; }
.op-front__know-more a h2 { font-weight: 400; }

.op-front__image { width: 56.4534rem; overflow: hidden; }
.op-front__image img { margin-left: 0%; height: 99.8vh; }
.mobile-op-front__image { width: 56.4534rem; }
.mobile-op-front__image img{
    position: absolute; top: 47rem; height: 30.8vh; width: 36.4534rem;
    left: 3rem;
}


/*------------RANDOM-------------*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }
